<launch>
    <!-- <arg name="scene" default='outdoor5_laser'/> -->
    <arg name="scene" default='indoor4_laser'/>
    <arg name="uav_name" value='iris'/>
    <arg name="communication_id" value='0'/>
    <arg name="control_id" value='1'/>
    <arg name="control_mode" value='vel'/>

    <include file="$(find px4)/launch/$(arg scene).launch"/>
    
    <group>
        <include file="$(find fast_lio)/launch/mapping_avia.launch"/>

        <node pkg="srun" type="lio_transfer.py" name="$(arg uav_name)_$(arg communication_id)_lio_transfer" output="screen"
                args="$(arg uav_name) $(arg communication_id)" launch-prefix="xterm -e"/>
    </group>

    <include file="$(find srun)/launch/single_control.launch">
        <arg name="uav_name" value='$(arg uav_name)'/>
        <arg name="communication_id" value='$(arg communication_id)'/>
        <arg name="control_id" value='$(arg control_id)'/>
        <arg name="control_mode" value='$(arg control_mode)'/>
    </include>
</launch>